[submodule "lib/javascript/quickjs"]
    path = lib/javascript/quickjs
    url = https://github.com/bellard/quickjs.git
	branch = master
[submodule "lib/log/spdlog"]
    path = lib/log/spdlog
    url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "lib/net/asio"]
	path = lib/net/asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
[submodule "lib/test/benchmark"]
	path = lib/test/benchmark
	url = https://github.com/google/benchmark.git
	branch = main
[submodule "lib/test/googletest"]
	path = lib/test/googletest
	url = https://github.com/google/googletest.git
	branch = main
